<!DOCTYPE html>
<html>
  <head>
    <title>About Deepika Padukone</title>
    <link rel="stylesheet" type="text/css" href="../public/about.css">
  </head>
  <body>
    <!-- Main content area -->
    <div class="main">
      <!-- Page heading -->
      <h1>About Deepika Padukone</h1>

      <!-- Main image -->
      <img src="../public/images.jpeg" alt="Deepika Padukone">

      <!-- Paragraph text -->
      <p>Deepika Padukone is an Indian film actress and producer. One of the highest-paid actresses in India, she is considered one of the country's most popular and attractive celebrities. Padukone has received several awards, including three Filmfare Awards. She features in listings of the nation's most popular personalities, and Time named her one of the 100 most influential people in the world in 2018.</p>

      <!-- Quote box -->
      <div class="quote-box">
        <p>"I am who I am. I don't try to be someone else."</p>
        <cite>- Deepika Padukone</cite>
      </div>
    </div>
      </body>
    </html>
