<!DOCTYPE html>
<html>
  <head>
    <title>Deepika Padukone Photo Gallery</title>
    <link rel="stylesheet" type="text/css" href="gallery.css" />
  </head>

  <body>
    <h1>Deepika Padukone Photo Gallery</h1>

    <!-- Gallery container -->
    <div class="gallery-container">
      <img src="../public/images/p1.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p2.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p3.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p4.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p5.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p6.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p7.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p8.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p9.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p10.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p11.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p12.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p13.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p14.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p15.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p16.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/p17.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/about.jpg" alt="Deepika Padukone" />
      <img src="../public/images/images.jpeg" alt="Deepika Padukone" />
      <img src="../public/images/headerimage.jpg" alt="Deepika Padukone" />

      <script src="../public/index.js"></script>
    </div>
  </body>
</html>
