<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Deepika padukone</title>
		<link rel="stylesheet"  type="text/css" href="../public/style.css">
	</head>
	<body>
		<header>
			<h1>Welcome to Deepika Padukone's Fan page</h1>
		</header>

		<nav>
			<a href="about.html">About</a>
			<a href="works.html">Works</a>
			<a href="gallery.html">Photo Gallery</a>
		</nav>

		<main>
			<h2>Welcome!</h2>
			<p>This site is designed to showcase the work,insights, and perspectives of Indian Bollywood film industry's very famous actress Deepika Padukone.We are thrilled to have you here and hope you will find our content informative, engaging, and useful.

             Whether you are looking for news or opinions we strive to deliver high-quality content that meets your needs and interests.
                
                This website is dedicated to all of her fans and her.. We encourage you to explore our website, connect with us on social media, and share your thoughts and feedback with us.
                
                Thank you for visiting our website, and we look forward to your continued support and engagement! Feel free to browse through the different sections of the site and discover some amazing information!</p>
		</main>

		<footer>
			<p>&copy; 2023 My Website. All rights reserved.</p>
		</footer>
	</body>
</html>