<!DOCTYPE html>
<html>
  <head>
    <title>Work of Deepika Padukone</title>
    <link rel="stylesheet" type="text/css" href="../public/about.css" />
  </head>
  <body>
    <!-- Main content area -->
    <div class="main">
      <!-- Page heading -->
      <h1>About Deepika Padukone</h1>

      <!-- Main image -->
      <img src="../public/images.jpeg" alt="Deepika Padukone" />

      <!-- Paragraph text -->
      <div>
        Movies:
        <div>
          <li>Piku (2015)</li>
          <img src="../public/images/Piku.jpg" alt="Piku Cover" />
        </div>
        <div>
          <li>Goliyon Ki Raasleela Ram Leela (2013)</li>
          <img
            src="../public/images/Ramleela_poster.jpg"
            alt="Goliyon Ki Raasleela Ram Leela Cover"
          />
        </div>
        <div>
          <li>Chhapaak (2020)</li>
          <img src="../public/images/Chhapaak_cover.jpeg" alt="Piku" />
        </div>
        <div>
          <li>Cocktail (2012)</li>
          <img src="../public/images/Cocktail.jpeg" alt="Chhapaak Cover" />
        </div>
        <div>
          <li>Om Shanti Om (2007)</li>
          <img
            src="../public/images/Om_Shanti_Om.jpg"
            alt="Om Shanti Om Cover"
          />
        </div>
        <div>
          <li>Bajirao & Mastani (2015)</li>
          <img
            src="../public/images/bajirao.jpeg"
            alt="Bajirao & Mastani Cover"
          />
        </div>
        <div>
          <li>Tamasha (2015)</li>
          <img src="../public//images/tamasha.webp" alt="Tamasha Cover" />
        </div>
        <div>
          <li>Chennai Express (2013)</li>
          <img
            src="../public/images/chennai_express.jpeg"
            alt="Chennai Express Cover"
          />
        </div>
        <div>
          <li>Yeh Jawaani Hai Dewaani (2013)</li>
          <img
            src="../public/images/Yeh_jawani_hai_deewani.jpg"
            alt="Yeh Jawaani Hai Dewaani Cover"
          />
        </div>
        <div>
          <li>Padmaavat (2018)</li>
          <img src="../public/images/Padmaavat.jpeg" alt="Padmaavat Cover" />
        </div>
      </div>

      <!-- Quote box -->
      <div class="quote-box">
        <p>"I am who I am. I don't try to be someone else."</p>
        <cite>- Deepika Padukone</cite>
      </div>
    </div>
  </body>
</html>
