<!DOCTYPE html>
<html>
  <head>
    <title>Work of Deepika Padukone</title>
    <link rel="stylesheet" type="text/css" href="../public/about.css" />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
  </head>
  <body>
    <nav>
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="work.html">Works</a>
      <a href="gallery.html">Photo Gallery</a>
    </nav>
    <!-- Main content area -->
    <div class="main">
      <!-- Paragraph text -->
      <div class="work-container">
        <h1>Movies:</h1>
        <div>
          <li class="movie-title">Piku (2015)</li>
          <img
            class="image-movie"
            src="../public/images/Piku.jpg"
            alt="Piku Cover"
          />
        </div>
        <div>
          <li class="movie-title">Goliyon Ki Raasleela Ram Leela (2013)</li>
          <img
            class="image-movie"
            src="../public/images/Ramleela_poster.jpg"
            alt="Goliyon Ki Raasleela Ram Leela Cover"
          />
        </div>
        <div>
          <li class="movie-title">Chhapaak (2020)</li>
          <img
            class="image-movie"
            src="../public/images/Chhapaak_cover.jpeg"
            alt="Piku"
          />
        </div>
        <div>
          <li class="movie-title">Cocktail (2012)</li>
          <img
            class="image-movie"
            src="../public/images/Cocktail.jpeg"
            alt="Chhapaak Cover"
          />
        </div>
        <div>
          <li class="movie-title">Om Shanti Om (2007)</li>
          <img
            class="image-movie"
            src="../public/images/Om_Shanti_Om.jpg"
            alt="Om Shanti Om Cover"
          />
        </div>
        <div>
          <li class="movie-title">Bajirao & Mastani (2015)</li>
          <img
            class="image-movie"
            src="../public/images/bajirao.jpeg"
            alt="Bajirao & Mastani Cover"
          />
        </div>
        <div>
          <li class="movie-title">Tamasha (2015)</li>
          <img
            class="image-movie"
            src="../public//images/tamasha.webp"
            alt="Tamasha Cover"
          />
        </div>
        <div>
          <li class="movie-title">Chennai Express (2013)</li>
          <img
            class="image-movie"
            src="../public/images/chennai_express.jpeg"
            alt="Chennai Express Cover"
          />
        </div>
        <div>
          <li class="movie-title">Yeh Jawaani Hai Dewaani (2013)</li>
          <img
            class="image-movie"
            src="../public/images/Yeh_jawani_hai_deewani.jpg"
            alt="Yeh Jawaani Hai Dewaani Cover"
          />
        </div>
        <div>
          <li class="movie-title">Padmaavat (2018)</li>
          <img
            class="image-movie"
            src="../public/images/Padmaavat.jpeg"
            alt="Padmaavat Cover"
          />
        </div>
      </div>
    </div>
  </body>
</html>
