.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 5px;
  border: 2px solid #ccc;
}

.gallery-image {
  height: 180px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  background-color: #7f7f7f;
}

.gallery-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid #777;
}

.gallery-container img.zoom {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
